.search{
    border: 1px solid #24385b;
    background-color: #03091e;
    border-radius: 5px 0 0 5px;
    color: #eff3f8;
}
.search:focus{
    border: 1px solid #24385b;
    background-color: #03091e;
    border-radius: 5px 0 0 5px;
    color: #fff;
}
.icon-search{
    border: 1px solid #95ca3e;
    background-color: #95ca3e;
    color: #121f3d;
}
.icon-search:focus{
    outline: none;
}